*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
}
.header{
	width: 100%;
	padding-top: 16px;
	padding-bottom: 16px;
	font-size: 22px;
	

}
.menu{
	text-align: center;
}


li{
	list-style: none;
	display: inline-block;
	margin-left: 18px;
	margin-right: 18px;
	font-size: 18px;
	line-height: 1.1;
}


.container{
	width: 1140px;
	margin: auto;
}



.header .logo{
	width: 100px;
	padding: 10px 40px;

}


 .menu a{
 	color: black;
	text-decoration: none;
	display: inline-block;
	transition: 1s;
}
.menu a:hover{
 	color: black;
 	transform: scale(1.2);
 	display: inline-block;
 	transition: 1s;

 }

 .banner{
 	width: 100%;
 }
 .main-box{
 	display: flex;

 }
 .left{
 	flex: 50%;

 }
 .right{
 	flex: 50%;
 }
 .right3{
 	flex: 50%;
 }
img{
	max-width: 100%;
	height: auto;
}
.left h1{
	font-size: 45px;
    font-weight: 700;
    color: #1e266d;

}
.left{
	margin-top:100px;
}
	
.left p{
	    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 22px;
    color: #1e266d;
    line-height: 28px;
    font-weight: 300
}
.left .banner-btn{
	background-color: #2e367d;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    border-radius: 8px;
}

.right{
	margin-top: 40px;
}
.right3{
	margin-top: 40px;
}
}

.poster{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;

}
.poster-main{
	display: flex;
}
.poster1{
	flex-basis: 25%;
}
.poster1 {
	border-radius: 8px;
    padding-left: 40px;
    padding-right: 40px;
    flex-basis: 40%;
    background-color: #f9799a;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.poster1 h3{
	font-weight: 700;
    font-size: 18px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    line-height: 24px;
    
}
.poster1 p{
	color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.9;
    margin-top: 0;
}
.poster2 {
	border-radius: 8px;
    padding-left: 40px;
    padding-right: 40px;
    flex-basis: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #61c4d8;
    margin-left: 15px;
    margin-right: 15px;

}
.poster2 h3{
	color: #fff;
	font-weight: 700;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    line-height: 24px;
}
.poster2 p{
	color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.9;
    margin-top: 0;

}
.poster3{
	border-radius: 8px;
    padding-left: 40px;
    padding-right: 40px;
    flex-basis: 40%;
    background-color: #1e266d;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;

}
.poster3 h3{
	color: #fff;
	font-weight: 700;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    line-height: 24px;
}
.poster3 p{
	color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.9;
    margin-top: 0;

}
.project{
	width: 100px;
}

.project-box{
	display: flex;
}
.left1{
	flex: 50%;
	margin-top: 100px;
}
.left1 h2{
	font-size: 50px;
    line-height: 45px;
    color: #07324f;
    margin-left: 70px;
}
.left1 p{
	color: #526375;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 70px;

}
.right1{
	margin-top: 80px;
	flex: 50%;
}
.span{
	color: #171f3c;
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
    line-height: 30px;
    font-weight: 300;
    margin-left: 70px;

}

.left1-btn{
	background-color: #2e367d;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    border-radius: 8px;
    margin-left: 70px;

}
	

img{
	max-width: 100%;
	height: auto;
}
.right2{
	margin-top: 80px;
	flex: 50%;
}













.footer{
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}
.footer-main{
	display: flex;

}
.footer-item{
	flex-basis: 25%;
}
.footer-item h6{
	color: #1e266d;
    font-size: 16px;
    margin-bottom: 20px;


}
.footer-item p{
	font-weight: 400;
	color: #91a3bb;
	font-size: 16px;
	line-height: 1.7;
	margin-right: 16px;

}
.footer-item li{
	list-style: none;
	margin-bottom: 8px;
}
}
.footer-item li a{
	color: #91a3bb;
	transition: 0.5s;
}

.footer-item li a:hover{
	color: black;
	margin-left: 6px;
	transition: 0.5s;
}
